<launch>
  <node pkg="uav_usv_perception" type="lv_dot_observation_adapter.py"
        name="lv_dot_observation_adapter" output="screen"/>
  <node pkg="uav_usv_perception" type="perception_fusion_node.py"
        name="lv_dot_fusion_validation" output="screen"/>
  <node pkg="uav_usv_perception" type="lv_dot_fusion_evaluator.py"
        name="lv_dot_fusion_evaluator" output="screen"/>
</launch>
